ref/IoT_platform_to_maximo.json
[{"id":"96eefda3.ba749","type":"tab","label":"README","disabled":false,"info":""},{"id":"13782a39.babfa6","type":"tab","label":"Maximo METER API (Ref)","disabled":false,"info":""},{"id":"60d4aff4.f3e6a","type":"tab","label":"METER METER API (Ex.)","disabled":false,"info":""},{"id":"4272fa1b.f20fe4","type":"ibmiot","z":"","name":"MarcoNT1","keepalive":"60","serverName":"4aaoma.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"eb49eca4.405d5","type":"ibmiot","z":"","name":"[Your IoT Platform]","keepalive":"60","serverName":"<your-org-id>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ae3acdb0.a2329","type":"ibmiot","z":"","name":"[Your IoT Platform]","keepalive":"60","serverName":"<your-org-id>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"da7e7a94.61f828","type":"ibmiot","z":"","name":"[Your IoT Platform]","keepalive":"60","serverName":"<your-org-id>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2afb9aa2.332f26","type":"ibmiot","z":"","name":"Thingy","keepalive":"60","serverName":"vrvzh6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cc49e56c.bdbe68","type":"ibmiot","z":"","name":"[Your IoT Platform]","keepalive":"60","serverName":"<your-org-id>.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"426f3147.c0bb5","type":"ibmiot in","z":"60d4aff4.f3e6a","authentication":"apiKey","apiKey":"4272fa1b.f20fe4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"MarcoNT1","applicationId":"","deviceType":"MarcoNT","eventType":"+","commandType":"","format":"json","name":"IoT PLATFORM","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":700,"wires":[["77b2a87c.0b67f8","6127cda4.0f30b4","6cac6407.b28f9c"]]},{"id":"63e53196.238cb","type":"debug","z":"60d4aff4.f3e6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":700,"wires":[]},{"id":"a935857.27fd578","type":"http request","z":"60d4aff4.f3e6a","name":"POST METER to Maximo","method":"POST","ret":"txt","url":"","tls":"","x":1090,"y":700,"wires":[["63e53196.238cb"]]},{"id":"40e05853.eb29f8","type":"comment","z":"60d4aff4.f3e6a","name":"Sending Data when Upper Limit is breached","info":"","x":570,"y":760,"wires":[]},{"id":"77b2a87c.0b67f8","type":"throttle","z":"60d4aff4.f3e6a","name":"Throttle Data (1/30 Mins.)","throttleType":"time","timeLimit":"30","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":510,"y":700,"wires":[["c72d11e1.38c7e"]]},{"id":"c72d11e1.38c7e","type":"function","z":"60d4aff4.f3e6a","name":"Build METER REST API URL - P","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME='mbenav@us.ibm.com'; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='MABNT';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID='bedford'; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='PRESSURE';//Your meter name  \nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='pressure';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"169.62.178.244\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\nmsg.payload=null; \nvar meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\nvar value = \"MEAUREMENTVALUE=\"+iotp_value;\nvar newval = \"newreading=\"+iotp_value;\nmsg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\nreturn msg;\n/*--------------------------------*/","outputs":1,"noerr":0,"x":790,"y":700,"wires":[["a935857.27fd578"]]},{"id":"6127cda4.0f30b4","type":"function","z":"60d4aff4.f3e6a","name":"Evaluate METER & Build REST API URL - T","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME='mbenav@us.ibm.com'; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='MABNT';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID='bedford'; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='TEMP-C';//Your meter name\nvar _MAXIMO_HEALTH_METER_UPPERLIMIT=80 // Replace UPPERLIMIT w/ Your Upper Limit Condition Monitoring Point & YOURPAYLOADTARGET w/ Your Payload Object\nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='temperature';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"169.62.178.244\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\n\nif (iotp_value >= _MAXIMO_HEALTH_METER_UPPERLIMIT) { \n    msg.payload=null; \n    var meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\n    var value = \"MEAUREMENTVALUE=\"+iotp_value;\n    var newval = \"newreading=\"+iotp_value;\n    msg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\n    return msg;\n} else {\n    msg.payload = \"\";\n}\n/*--------------------------------*/","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["1e3c3771.4f3419"]]},{"id":"1e3c3771.4f3419","type":"http request","z":"60d4aff4.f3e6a","name":"POST METER to Maximo","method":"POST","ret":"txt","url":"","tls":"","x":870,"y":800,"wires":[["bed98183.c5b03"]]},{"id":"bed98183.c5b03","type":"debug","z":"60d4aff4.f3e6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":800,"wires":[]},{"id":"f894f0d6.9e711","type":"comment","z":"13782a39.babfa6","name":"statuscode 200 = successful | 400 = failed","info":"","x":1020,"y":240,"wires":[]},{"id":"26af1816.833618","type":"debug","z":"60d4aff4.f3e6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":600,"wires":[]},{"id":"2a1f6318.1992ec","type":"http request","z":"60d4aff4.f3e6a","name":"POST METER to Maximo","method":"POST","ret":"txt","url":"","tls":"","x":810,"y":600,"wires":[["26af1816.833618"]]},{"id":"6cac6407.b28f9c","type":"function","z":"60d4aff4.f3e6a","name":"Build METER REST API URL - V","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME='mbenav@us.ibm.com'; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='MABNT';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID='bedford'; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='VIBRATIONH';//Your meter name  \nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='vibration';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"169.62.178.244\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\nmsg.payload=null; \nvar meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\nvar value = \"MEAUREMENTVALUE=\"+iotp_value;\nvar newval = \"newreading=\"+iotp_value;\nmsg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\nreturn msg;\n/*--------------------------------*/","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["2a1f6318.1992ec"]]},{"id":"a1367300.0ecc3","type":"comment","z":"60d4aff4.f3e6a","name":"Limit write operations using the Throttle node","info":"","x":570,"y":660,"wires":[]},{"id":"84a2a08f.7683f","type":"comment","z":"60d4aff4.f3e6a","name":"Send data to Maximo (no throttling)","info":"","x":540,"y":560,"wires":[]},{"id":"e25d74d9.d10218","type":"comment","z":"60d4aff4.f3e6a","name":"Send data to Maximo (no throttling)","info":"","x":540,"y":200,"wires":[]},{"id":"a5fac033.0f5aa","type":"inject","z":"60d4aff4.f3e6a","name":"Temp = 5","topic":"","payload":"{\"d\":{\"temperature\":5}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["553fd128.f7e8"]]},{"id":"3944e6fe.b05c9a","type":"comment","z":"60d4aff4.f3e6a","name":"simulate lower limit breach","info":"","x":190,"y":260,"wires":[]},{"id":"91f2eb6a.497c78","type":"comment","z":"60d4aff4.f3e6a","name":"simulate upper limit breach","info":"","x":190,"y":160,"wires":[]},{"id":"692bf21f.1e692c","type":"inject","z":"60d4aff4.f3e6a","name":"Temp = 90","topic":"","payload":"{\"d\":{\"temperature\":90}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["553fd128.f7e8"]]},{"id":"1aa26f12.397041","type":"debug","z":"60d4aff4.f3e6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":240,"wires":[]},{"id":"dbbb4d6e.57c95","type":"http request","z":"60d4aff4.f3e6a","name":"POST METER to Maximo","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":240,"wires":[["1aa26f12.397041"]]},{"id":"553fd128.f7e8","type":"function","z":"60d4aff4.f3e6a","name":"Build METER REST API URL - Temperature","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME='mbenav@us.ibm.com'; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='MABNT';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID='bedford'; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='TEMP-C';//Your meter name  \nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='temperature';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"169.62.178.244\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\nmsg.payload=null; \nvar meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\nvar value = \"MEAUREMENTVALUE=\"+iotp_value;\nvar newval = \"newreading=\"+iotp_value;\nmsg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\nreturn msg;\n/*--------------------------------*/\n","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["dbbb4d6e.57c95"]]},{"id":"f4bda453.abc778","type":"comment","z":"60d4aff4.f3e6a","name":"CONNECTS TO CTP-GLOBAL","info":"","x":210,"y":440,"wires":[]},{"id":"467d3f9e.f347b","type":"comment","z":"96eefda3.ba749","name":"--  About Tabs --------------------------------------------------------------------------","info":"","x":340,"y":80,"wires":[],"icon":"font-awesome/fa-info"},{"id":"d6fe1e1c.76d1e","type":"comment","z":"96eefda3.ba749","name":"Maximo METER API - Has a reference set of flows to help you get started on using the Maximo Meters REST APIs","info":"","x":450,"y":120,"wires":[],"icon":"font-awesome/fa-square"},{"id":"90435346.dfb5d","type":"comment","z":"96eefda3.ba749","name":"METER API (Example) - Leverages the reference set of flows to give you an example of the reference flows","info":"","x":420,"y":160,"wires":[],"icon":"font-awesome/fa-square"},{"id":"a9322416.2358d8","type":"comment","z":"60d4aff4.f3e6a","name":"--  Reading from Platform --------------------------------------------------------------------------","info":"","x":390,"y":400,"wires":[],"icon":"font-awesome/fa-info"},{"id":"a71566e0.9ac678","type":"comment","z":"60d4aff4.f3e6a","name":"--  Simulating Values ------------------------------------------------------------------------------","info":"","x":390,"y":120,"wires":[],"icon":"font-awesome/fa-info"},{"id":"1b2c5dae.d93912","type":"debug","z":"13782a39.babfa6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":280,"wires":[]},{"id":"228f6bf5.4ae9f4","type":"http request","z":"13782a39.babfa6","name":"POST METER to Maximo","method":"POST","ret":"txt","url":"","tls":"","x":1070,"y":280,"wires":[["1b2c5dae.d93912"]]},{"id":"77cf0589.4f47dc","type":"comment","z":"13782a39.babfa6","name":"Sending Data when Upper Limit is breached","info":"","x":590,"y":340,"wires":[]},{"id":"a1a6e3ea.2ba77","type":"throttle","z":"13782a39.babfa6","name":"Throttle Data (1/30 Mins.)","throttleType":"time","timeLimit":"30","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":490,"y":280,"wires":[["cd7fe236.5f5eb"]]},{"id":"cd7fe236.5f5eb","type":"function","z":"13782a39.babfa6","name":"Build METER REST API URL - P","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME=''; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID=''; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='';//Your meter name  \nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\nmsg.payload=null; \nvar meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\nvar value = \"MEAUREMENTVALUE=\"+iotp_value;\nvar newval = \"newreading=\"+iotp_value;\nmsg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\nreturn msg;\n/*--------------------------------*/","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["228f6bf5.4ae9f4"]]},{"id":"ba83a3ac.faa4b","type":"function","z":"13782a39.babfa6","name":"Evaluate METER & Build REST API URL - T","func":"/*------ SET YOUR VALUES HERE ------*/\n// Maximo User Data Config\nvar _MAXIMO_HEALTH_USERNAME=''; //Your Maximo Health environment's username. \nvar _MAXIMO_HEALTH_PASSWORD=''; //Your Maximo Health environment's password. \nvar _MAXIMO_MANAGE_ASSET_NAME='';//Your asset name in Maximo Manage\nvar _MAXIMO_MANAGE_SITE_ID=''; //default works with the lab\nvar _MAXIMO_MANAGE_METER_NAME='';//Your meter name\nvar _MAXIMO_HEALTH_METER_UPPERLIMIT=NaN // Replace UPPERLIMIT w/ Your Upper Limit Condition Monitoring Point & YOURPAYLOADTARGET w/ Your Payload Object\nvar _IOT_PLATFORM_DEV_PAYLOAD_VAR='';//Your variable name in your device payload\n\n//Maximo API Config\nvar _MAXIMO_HEALTH_HOST=\"\"; //Your Maximo Health environment's IP Address.\nvar _MAXIMO_HEALTH_PORT=\":80\"; //change to 443 for https\nvar _MAXIMO_ENDPOINT = \"/os/MXMETERDATA?\"; //default works with the lab\nvar _MAXIMO_REQUEST_ARGS = \"&_lid=\"+_MAXIMO_HEALTH_USERNAME+\"&_lpwd=\"+_MAXIMO_HEALTH_PASSWORD+\"&_action=addchange\"; //default works with the lab\n/*--------------------------------*/\n\n/*--------- DO NOT MODIFY --------*/\nvar maximo_host = \"http://\"+_MAXIMO_HEALTH_HOST + _MAXIMO_HEALTH_PORT;\nvar maximo_base_path =\"/maximo/rest\"\nvar maximo_api_url = maximo_host+ maximo_base_path + _MAXIMO_ENDPOINT + _MAXIMO_REQUEST_ARGS\nmsg.timestamp = new Date().toISOString();\nvar asset = \"assetnum=\"+_MAXIMO_MANAGE_ASSET_NAME;\nvar site = \"siteid=\"+_MAXIMO_MANAGE_SITE_ID; \nvar time = \"measuredate=\"+msg.timestamp;\nvar iotp_value = eval(\"msg.payload.d.\"+_IOT_PLATFORM_DEV_PAYLOAD_VAR);\n\nif (msg.payload.d.temperature >= _MAXIMO_HEALTH_METER_UPPERLIMIT) { // Replace UPPERLIMIT w/ Your Upper Limit Condition Monitoring Point & YOURPAYLOADTARGET w/ Your Payload Object\n    msg.payload=null; \n    var meter = \"METERNAME=\"+_MAXIMO_MANAGE_METER_NAME;\n    var value = \"MEAUREMENTVALUE=\"+iotp_value;\n    var newval = \"newreading=\"+iotp_value;\n    msg.url = maximo_api_url+\"&\"+asset+\"&\"+meter+\"&\"+value+\"&\"+site+\"&\"+time+\"&\"+newval;\n    return msg;\n} else {\n    msg.payload = \"\";\n}\n/*--------------------------------*/","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["9b3ee7d9.e9fc38"]]},{"id":"9b3ee7d9.e9fc38","type":"http request","z":"13782a39.babfa6","name":"POST METER to Maximo","method":"POST","ret":"txt","url":"","tls":"","x":930,"y":380,"wires":[["6fbaa29c.a0317c"]]},{"id":"6fbaa29c.a0317c","type":"debug","z":"13782a39.babfa6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":380,"wires":[]},{"id":"c5223d0e.27daa","type":"comment","z":"13782a39.babfa6","name":"Limit write operations using the Throttle node","info":"","x":550,"y":240,"wires":[]},{"id":"5241d952.9ea448","type":"comment","z":"60d4aff4.f3e6a","name":"This currently listens to my device type (MarcoNT) and device ID (MarcoNT1). Make sure you update this node to listen to your device","info":"","x":530,"y":480,"wires":[]},{"id":"90bd3a91.b91208","type":"comment","z":"60d4aff4.f3e6a","name":"NOTE: The only two nodes that require updating in these flows are:","info":"","x":1160,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"f0413b42.cfef88","type":"comment","z":"60d4aff4.f3e6a","name":"function nodes (ORANGE)","info":"","x":1030,"y":60,"wires":[],"icon":"font-awesome/fa-file-o"},{"id":"3270f71c.915048","type":"comment","z":"60d4aff4.f3e6a","name":"IoT PLATFORM node (BLUE)","info":"","x":1040,"y":100,"wires":[],"icon":"font-awesome/fa-file-o"},{"id":"22082055.b6813","type":"ibmiot in","z":"13782a39.babfa6","authentication":"apiKey","apiKey":"cc49e56c.bdbe68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"YourDeviceID","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IoT PLATFORM","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":280,"wires":[["a1a6e3ea.2ba77","ba83a3ac.faa4b"]]},{"id":"decf95fb.d1df88","type":"comment","z":"13782a39.babfa6","name":"NOTE: The only two nodes that require updating in these flows are:","info":"","x":1160,"y":20,"wires":[],"icon":"node-red/alert.svg"},{"id":"6510f48.ef68a0c","type":"comment","z":"13782a39.babfa6","name":"function nodes (ORANGE)","info":"","x":1030,"y":60,"wires":[],"icon":"font-awesome/fa-file-o"},{"id":"a51e20fb.5c8df","type":"comment","z":"13782a39.babfa6","name":"IoT PLATFORM node (BLUE)","info":"","x":1040,"y":100,"wires":[],"icon":"font-awesome/fa-file-o"}]